@media screen and (max-width: 800px) {
    p{
        color: black;
    }
    body{
        background-color: rgb(76, 102, 97);
    }
    #h1_div{
        color:aliceblue;
        background: linear-gradient(rgb(50, 67, 64), rgb(76, 102, 97));
        padding: 1%;
        position: relative;
    }
    #gif{
        width: 30%;
        border-radius: 30px;
        margin-top: 5%;
        margin-left: 2%;
    }
    #h1{
        position: absolute;
        left: 35%;
        top: 2%;
        font-size: 40px;
        font-family: "Montserrat", serif;
    }
    #h2{
        position: absolute;
        left: 35%;
        top: 35%;
        font-size: 30px;
        font-family: "Montserrat", serif;
    }
    .main_div{
        position: relative;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(28, 198, 255);
        padding-left: 2%;
        padding-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 2%;
        padding-right: 2%;
        margin-top: 5%;
    }
    .read_main_div{
        position: relative;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(184, 184, 184);
        padding-left: 2%;
        padding-top: 2%;
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 2%;
        padding-right: 2%;
        margin-top: 5%;
    }
    .avatar_img{
        width: 5%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    .name{
        font-size: 17px;
        position: absolute;
        left: 22%;
        color: black;
        font-family: "Montserrat", serif;
    }
    #menu{
        position:fixed;
        left: 5%;
        bottom: 10px;
        height: 100px;
        right: 5%;
        background-color: rgb(50, 67, 64);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #chats_button{
        background-color: rgb(50, 67, 64);
        border: 0px;
        height: 70px;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
        color: aliceblue;
        margin-right: auto;
        transition: 0.5s;
        font-family: "Montserrat", serif;
        font-size: 17px;
    }
    #chats_button:hover{
        cursor: pointer;
        background-color: rgb(131, 172, 165);
        transition: 0.5s;
        color: black;
    }
    #games_button{
        background-color: rgb(50, 67, 64);
        border: 0px;
        height: 70px;
        border-radius: 10px;
        transition: 0.5s;
        font-family: "Montserrat", serif;
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: 10px;
    }
    #games_button:hover{
        cursor: pointer;
        background-color: rgb(131, 172, 165);
        transition: 0.5s;
        color: black;
    }
    #main{
        margin-top: 35%;
        margin-bottom: 30%;
    }
    #chat_button{
        background-color: rgb(88, 111, 107);
        border: 0px;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 70px;
        margin-left: auto;
        color: aliceblue;
        margin-right: auto;
        transition: 0.5s;
        font-family: "Montserrat", serif;
        font-size: 17px;  
    }
    #chat_button:hover{
        cursor: pointer;
        background-color: rgb(131, 172, 165);
        transition: 0.5s;
        color: black;
    }
    #chat_img{
        display: none;
    }
    #chats_img{
        display: none;
    }
    #games_img{
        display: none;
    }
    #surch_input{
        padding: 2%;
        border-radius: 100px;
        border: 0;
        margin-right: 5%;
        transition: 0.5s;
        font-family: "Montserrat", serif;
        font-size: 20px;
        position: absolute;
        top: 33%;
        left: 5%;
        z-index: 10;   
    }
    #surch_input:hover{
        background-color: rgb(214, 214, 214);
        transition: 0.5s;
    }
    #surch_input::placeholder{
        font-family: "Montserrat", serif;
        font-size: 20px;   
    }
    #surch_button{
        background-color: blueviolet;
        font-family: "Montserrat", serif;
        font-size: 20px;   
        padding: 2%;
        border-radius: 100px;
        border: 0;
        position: absolute;
        top: 33%;
        left: 75%;
        z-index: 10;
        color: white;
        transition: 0.5s;
    }
    #surch_button:hover{
        background-color: deeppink;
        transition: 0.5s;
    }
    p{
        color: white;   
    }
    #people_div{
        background-color: rgba(54, 54, 54, 0.457);
        border-radius: 10px;
        position: fixed;
        padding: 2.5%;
        padding-bottom: 5%;
        padding-top: 5%;
        right: 5%;
        display: flexbox;
        left: 5%;
        top: 40%;
        font-size: 20px;
        transition: 0.5s;
        z-index: 10000000;
    }
    .man_div{
        background-color: gray;
        padding:1%;
        width: 100%;
        display: flex;
        position: relative;
        transition: 0.5s;
    }
    .man_div:hover{
        transitoion: 0.5s;
        background-color: darkgray;
    }
    .man_avatar{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    .man_name{
        font-size: 17px;
        margin-left: 5px;
        color: black;
        font-family: "Montserrat", serif;
    }
}
@media screen and (min-width: 800px) {
    body{
        background-color: rgb(76, 102, 97);
    }
    #h1_div{
        color:aliceblue;
        background: linear-gradient(rgb(50, 67, 64), rgb(76, 102, 97));
        padding: 1%;
        position: relative;
    }
    #gif{
        width: 10%;
        border-radius: 30px;
    }
    #h1{
        position: absolute;
        left: 12%;
        top: 2%;
        font-size: 40px;
        font-family: "Montserrat", serif;
    }
    #h2{
        position: absolute;
        left: 12%;
        top: 32%;
        font-size: 40px;
        font-family: "Montserrat", serif;
    }
    .main_div{
        position: relative;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(28, 198, 255);
        padding-left: 1%;
        padding-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 1%;
        padding-right: 1%;
        margin-top: 5%;
    }
    .read_main_div{
        position: relative;
        border-radius: 20px;
        border: 0px;
        background-color: rgb(184, 184, 184);
        padding-left: 1%;
        padding-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 1%;
        padding-right: 1%;
        margin-top: 5%;
    }
    .avatar_img{
        width: 5%;
        width:60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    .name{
        font-size: 17px;
        position: absolute;
        left: 8%;
        font-family: "Montserrat", serif;
    }
    #menu{
        position:fixed;
        left: 10%;
        bottom: 50px;
        right: 10%;
        background-color: rgb(50, 67, 64);
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #chats_button{
        background-color: rgb(50, 67, 64);
        border: 0px;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
        color: aliceblue;
        margin-right: auto;
        transition: 0.5s;
        font-family: "Montserrat", serif;
        font-size: 17px;
    }
    #chats_button:hover{
        cursor: pointer;
        background-color: rgb(131, 172, 165);
        transition: 0.5s;
        color: black;
    }
    #games_button{
        background-color: rgb(50, 67, 64);
        border: 0px;
        border-radius: 10px;
        transition: 0.5s;
        color: aliceblue;
        font-family: "Montserrat", serif;
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        margin-right: 10px;
    }
    #games_button:hover{
        cursor: pointer;
        background-color: rgb(131, 172, 165);
        transition: 0.5s;
        color: black;
    }
    #main{
        margin-top: 15%;
        margin-bottom: 30%;
    }
    #chat_button{
        background-color: rgb(88, 111, 107);
        border: 0px;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: auto;
        color: aliceblue;
        margin-right: auto;
        transition: 0.5s;
        font-family: "Montserrat", serif;
        font-size: 17px;   
    }
    #chat_button:hover{
        cursor: pointer;
        background-color: rgb(131, 172, 165);
        transition: 0.5s;
        color: black;
    }
    #surch_input{
        padding: 1%;
        border-radius: 100px;
        border: 0;
        margin-right: 1%;
        transition: 0.5s;
        font-family: "Montserrat", serif;
        font-size: 17px;   
    }
    #surch_input:hover{
        background-color: rgb(214, 214, 214);
        transition: 0.5s;
    }
    #surch_input::placeholder{
        font-family: "Montserrat", serif;
        font-size: 17px;   
    }
    #surch_button{
        background-color: blueviolet;
        font-family: "Montserrat", serif;
        font-size: 17px;   
        padding: 1%;
        border-radius: 100px;
        border: 0;
        color: white;
        transition: 0.5s;
    }
    #surch_button:hover{
        background-color: deeppink;
        transition: 0.5s;
    }
    #people_div{
        background-color: rgba(54, 54, 54, 0.457);
        border-radius: 10px;
        position: fixed;
        padding: 2.5%;
        padding-bottom: 5%;
        padding-top: 5%;
        right: 30%;
        display: flexbox;
        left: 30%;
        top: 40%;
        font-size: 20px;
        transition: 0.5s;
        z-index: 10000000;
    }
    .man_div{
        background-color: gray;
        padding:1%;
        width: 100%;
        display: flex;
        position: relative;
        transition: 0.5s;
    }
    .man_div:hover{
        transitoion: 0.5s;
        background-color: darkgray;
    }
    .man_avatar{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
    }
    .man_name{
        font-size: 17px;
        margin-left: 5px;
        color: black;
        font-family: "Montserrat", serif;
    }
}
